<table style="margin-right:auto;margin-left:0px"><tr><td><h1>Advanced Data Analysis with Pandas</h1></td><td><img src="data:image/svg+xml,%3Csvg%20id%3D%22home_img%22%20class%3D%22ipc-logo%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2232%22%20viewBox%3D%220%200%2064%2032%22%20version%3D%221.1%22%3E%3Cg%20fill%3D%22%23F5C518%22%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20rx%3D%224%22%3E%3C%2Frect%3E%3C%2Fg%3E%3Cg%20transform%3D%22translate%288.000000%2C%207.000000%29%22%20fill%3D%22%23000000%22%20fill-rule%3D%22nonzero%22%3E%3Cpolygon%20points%3D%220%2018%205%2018%205%200%200%200%22%3E%3C%2Fpolygon%3E%3Cpath%20d%3D%22M15.6725178%2C0%20L14.5534833%2C8.40846934%20L13.8582008%2C3.83502426%20C13.65661%2C2.37009263%2013.4632474%2C1.09175121%2013.278113%2C0%20L7%2C0%20L7%2C18%20L11.2416347%2C18%20L11.2580911%2C6.11380679%20L13.0436094%2C18%20L16.0633571%2C18%20L17.7583653%2C5.8517865%20L17.7707076%2C18%20L22%2C18%20L22%2C0%20L15.6725178%2C0%20Z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M24%2C18%20L24%2C0%20L31.8045586%2C0%20C33.5693522%2C0%2035%2C1.41994415%2035%2C3.17660424%20L35%2C14.8233958%20C35%2C16.5777858%2033.5716617%2C18%2031.8045586%2C18%20L24%2C18%20Z%20M29.8322479%2C3.2395236%20C29.6339219%2C3.13233348%2029.2545158%2C3.08072342%2028.7026524%2C3.08072342%20L28.7026524%2C14.8914865%20C29.4312846%2C14.8914865%2029.8796736%2C14.7604764%2030.0478195%2C14.4865461%20C30.2159654%2C14.2165858%2030.3021941%2C13.486105%2030.3021941%2C12.2871637%20L30.3021941%2C5.3078959%20C30.3021941%2C4.49404499%2030.272014%2C3.97397442%2030.2159654%2C3.74371416%20C30.1599168%2C3.5134539%2030.0348852%2C3.34671372%2029.8322479%2C3.2395236%20Z%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M44.4299079%2C4.50685823%20L44.749518%2C4.50685823%20C46.5447098%2C4.50685823%2048%2C5.91267586%2048%2C7.64486762%20L48%2C14.8619906%20C48%2C16.5950653%2046.5451816%2C18%2044.749518%2C18%20L44.4299079%2C18%20C43.3314617%2C18%2042.3602746%2C17.4736618%2041.7718697%2C16.6682739%20L41.4838962%2C17.7687785%20L37%2C17.7687785%20L37%2C0%20L41.7843263%2C0%20L41.7843263%2C5.78053556%20C42.4024982%2C5.01015739%2043.3551514%2C4.50685823%2044.4299079%2C4.50685823%20Z%20M43.4055679%2C13.2842155%20L43.4055679%2C9.01907814%20C43.4055679%2C8.31433946%2043.3603268%2C7.85185468%2043.2660746%2C7.63896485%20C43.1718224%2C7.42607505%2042.7955881%2C7.2893916%2042.5316822%2C7.2893916%20C42.267776%2C7.2893916%2041.8607934%2C7.40047379%2041.7816216%2C7.58767002%20L41.7816216%2C9.01907814%20L41.7816216%2C13.4207851%20L41.7816216%2C14.8074788%20C41.8721037%2C15.0130276%2042.2602358%2C15.1274059%2042.5316822%2C15.1274059%20C42.8031285%2C15.1274059%2043.1982131%2C15.0166981%2043.281155%2C14.8074788%20C43.3640968%2C14.5982595%2043.4055679%2C14.0880581%2043.4055679%2C13.2842155%20Z%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E"/></td></tr></table>

## Scenario: What genres are the most successful?

In this class activity, we will use box office data on the revenue of a sample of movies and TV shows from the __Internet Movie Database (IMDb)__. Executives at the major streaming platforms need to decide their creative strategy for the next year, and want to know what type of movies they need to produce. Their objective is to produce movies that please both viewers (produced movies should receive high ratings), but also should do well at the box office (high revenues in the aggregate), so they want to know what genres to focus on. We will create a data analysis pipeline to answer this **research question**: _which movie/TV shopwgenres are the most successful both in terms of revenue and ratings?_ To do so, we will make use of Pandas for all steps of the pipeline: data ingestion, data summarization, and data analysis.

## The data

The dataset for today's activity is located in `data/IMDB-Movie-Data.csv`. It contains 1,000 rows and 12 columns. Use Jupyter's File Browser to navigate to the file and inspect its rows and columns. In particular, note how the genre(s) of each movie are recorded in the data. Then, you can start working on the three tasks below.

In [ ]:
# Write down your roles
DRIVER = ""
NAVIGATOR = ""

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

# Reference -- keep this open while working on the tasks!

* [The 10-minute Intro to Pandas](https://pandas.pydata.org/docs/user_guide/10min.html)
* [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

## Problem

We need to find out the top FIVE movie genres in terms of average ratings. Here, each movie has multiple genres, but we will focus on the primary genre of the movies. By primary genre, we refer to the first entry of the `Genre` column.

Our final dataset (transformed from the original), must present this information of the 5 genres that have the best average ratings.

Things to consider in the three tasks:
* You will need to create a separate column, `primary_genre` with the first entry from the `Genre` column
* Only consider those genres that have at least 10 or more movies while calculating the average ratings.

If all goes well, your end solution should return the following data frame:
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>primary_genre</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Animation</td>
      <td>7.324490</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Biography</td>
      <td>7.318750</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Drama</td>
      <td>6.954872</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Adventure</td>
      <td>6.908000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Mystery</td>
      <td>6.876923</td>
    </tr>
 </tbody>
</table>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

## Task A: Data ingestion

Write a function called `load_data` that takes a string with the CSV file location, reads the data into a dataframe (indexed by the `Rank` column), and adds to it a new column, called `Primary Genre`, which contains the first of the multiple genres listed for each movie in the `Genre` column. Your function should return a dataframe with 13 columns and 1,000 rows.

For reference, these are the first 5 rows of the dataframe your function should return:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Title</th>
      <th>Genre</th>
      <th>Description</th>
      <th>Director</th>
      <th>Actors</th>
      <th>Year</th>
      <th>Runtime (Minutes)</th>
      <th>Rating</th>
      <th>Votes</th>
      <th>Revenue (Millions)</th>
      <th>Metascore</th>
      <th>Primary Genre</th>
    </tr>
    <tr>
      <th>Rank</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Guardians of the Galaxy</td>
      <td>Action,Adventure,Sci-Fi</td>
      <td>A group of intergalactic criminals are forced to work together to stop a fanatical warrior from taking control of the universe.</td>
      <td>James Gunn</td>
      <td>Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana</td>
      <td>2014</td>
      <td>121</td>
      <td>8.1</td>
      <td>757074</td>
      <td>333.13</td>
      <td>76.0</td>
      <td>Action</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Prometheus</td>
      <td>Adventure,Mystery,Sci-Fi</td>
      <td>Following clues to the origin of mankind, a team finds a structure on a distant moon, but they soon realize they are not alone.</td>
      <td>Ridley Scott</td>
      <td>Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron</td>
      <td>2012</td>
      <td>124</td>
      <td>7.0</td>
      <td>485820</td>
      <td>126.46</td>
      <td>65.0</td>
      <td>Adventure</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Split</td>
      <td>Horror,Thriller</td>
      <td>Three girls are kidnapped by a man with a diagnosed 23 distinct personalities. They must try to escape before the apparent emergence of a frightful new 24th.</td>
      <td>M. Night Shyamalan</td>
      <td>James McAvoy, Anya Taylor-Joy, Haley Lu Richardson, Jessica Sula</td>
      <td>2016</td>
      <td>117</td>
      <td>7.3</td>
      <td>157606</td>
      <td>138.12</td>
      <td>62.0</td>
      <td>Horror</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Sing</td>
      <td>Animation,Comedy,Family</td>
      <td>In a city of humanoid animals, a hustling theater impresario's attempt to save his theater with a singing competition becomes grander than he anticipates even as its finalists' find that their lives will never be the same.</td>
      <td>Christophe Lourdelet</td>
      <td>Matthew McConaughey,Reese Witherspoon, Seth MacFarlane, Scarlett Johansson</td>
      <td>2016</td>
      <td>108</td>
      <td>7.2</td>
      <td>60545</td>
      <td>270.32</td>
      <td>59.0</td>
      <td>Animation</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Suicide Squad</td>
      <td>Action,Adventure,Fantasy</td>
      <td>A secret government agency recruits some of the most dangerous incarcerated super-villains to form a defensive task force. Their first mission: save the world from the apocalypse.</td>
      <td>David Ayer</td>
      <td>Will Smith, Jared Leto, Margot Robbie, Viola Davis</td>
      <td>2016</td>
      <td>123</td>
      <td>6.2</td>
      <td>393727</td>
      <td>325.02</td>
      <td>40.0</td>
      <td>Action</td>
    </tr>
  </tbody>
</table>

In [ ]:
import pandas as pd

# Your solution here
...

df = load_data("data/IMDB-Movie-Data.csv")  # Note: on Windows use "data\IMDB-Movie-Data.csv" instead!
df

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

In [ ]:
# Now switch roles
DRIVER = ""
NAVIGATOR = ""

## Task B: Data summarization

Write a function called called `summarize_genres` that takes as parameter the previous dataframe, and computes the following statistics for all primary genres: 
1. The median movie revenue, rounded to two decimal digits (new column name: `med_revenue_mil`);
2. The average movie `Rating`, rounded to two decimal digits (new column name: `avg_rating`);
3. The number of movies with that primary genres (new column name: `num_movies`).

### Hints

You can aggregate the dataframe in various ways, but in all cases you will need to use `Primary Genre` as the index column. To rename the columns in the new dataframe you can use the `.rename()` method (check the Pandas docs) or you could use Named Aggregation.

For reference, this is the dataframe your function should return:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>med_revenue_mil</th>
      <th>avg_rating</th>
      <th>num_movies</th>
    </tr>
    <tr>
      <th>Primary Genre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Action</th>
      <td>83.57</td>
      <td>6.59</td>
      <td>293</td>
    </tr>
    <tr>
      <th>Adventure</th>
      <td>73.82</td>
      <td>6.91</td>
      <td>75</td>
    </tr>
    <tr>
      <th>Animation</th>
      <td>191.45</td>
      <td>7.32</td>
      <td>49</td>
    </tr>
    <tr>
      <th>Biography</th>
      <td>35.12</td>
      <td>7.32</td>
      <td>64</td>
    </tr>
    <tr>
      <th>Comedy</th>
      <td>38.52</td>
      <td>6.49</td>
      <td>175</td>
    </tr>
    <tr>
      <th>Crime</th>
      <td>30.38</td>
      <td>6.81</td>
      <td>71</td>
    </tr>
    <tr>
      <th>Drama</th>
      <td>18.22</td>
      <td>6.95</td>
      <td>195</td>
    </tr>
    <tr>
      <th>Fantasy</th>
      <td>63.11</td>
      <td>5.85</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Horror</th>
      <td>35.79</td>
      <td>5.87</td>
      <td>46</td>
    </tr>
    <tr>
      <th>Mystery</th>
      <td>43.77</td>
      <td>6.88</td>
      <td>13</td>
    </tr>
    <tr>
      <th>Romance</th>
      <td>62.45</td>
      <td>6.60</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Sci-Fi</th>
      <td>42.64</td>
      <td>4.97</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Thriller</th>
      <td>0.32</td>
      <td>5.96</td>
      <td>10</td>
    </tr>
  </tbody>
</table>

In [ ]:
# Your solution here
...

genre_df = summarize_genres(df)
genre_df

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

In [ ]:
# Now switch roles
DRIVER = ""
NAVIGATOR = ""

## Task C: Data analysis

Write a function called `find_successful_genres` that takes the previous genre dataframe and two additional parameters: a float for the minimum rating threshold (`minrating`) and a float for the minimum revenue threshold (`minrevenue`) returns the subset of most &ldquo;successful&rdquo; genres, defined as having at least an average rating of 6.5 stars and $50 Mil in median revenue.

For reference, this is the dataframe your function should when called with `minrating=6.5` and `minrevenue=50`:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>med_revenue_mil</th>
      <th>avg_rating</th>
      <th>num_movies</th>
    </tr>
    <tr>
      <th>Primary Genre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Action</th>
      <td>83.57</td>
      <td>6.59</td>
      <td>293</td>
    </tr>
    <tr>
      <th>Adventure</th>
      <td>73.82</td>
      <td>6.91</td>
      <td>75</td>
    </tr>
    <tr>
      <th>Animation</th>
      <td>191.45</td>
      <td>7.32</td>
      <td>49</td>
    </tr>
    <tr>
      <th>Romance</th>
      <td>62.45</td>
      <td>6.60</td>
      <td>2</td>
    </tr>
  </tbody>
</table>

In [ ]:
# Your solution here
...

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

---

# Solutions

## Task A

In [ ]:
import pandas as pd

### BEGIN SOLUTION
def primarygen(genres):
    return genres.split(",")[0]

def load_data(fn):
    df = pd.read_csv(fn, index_col=0)
    df['Primary Genre'] = df['Genre'].apply(primarygen)
    return df
### END SOLUTION

df = load_data("data/IMDB-Movie-Data.csv")
df

## Task B

In [ ]:
### BEGIN SOLUTION
def summarize_genres(df):
    return df.groupby('Primary Genre').agg(
        med_revenue_mil=('Revenue (Millions)', 'median'),
        avg_rating=('Rating', 'mean'),
        num_movies=('Primary Genre', 'count')
    ).round(2)
### END SOLUTION

genre_df = summarize_genres(df)
genre_df

## Task C

In [ ]:
### BEGIN SOLUTON
def find_successful_genres(genre_df, minrating, minrevenue):
    return genre_df[(genre_df['avg_rating'] > minrating) & (genre_df['med_revenue_mil'] > minrevenue)]

final_df = find_successful_genres(genre_df, minrating=6.5, minrevenue=50)
final_df
### END SOLUTION